<h1><%= @band.name %></h1>
<div class="buttons">
  <%= link_to 'Edit', edit_band_url, method: "GET" %>
  <%= link_to 'Add an Album', new_album_url %>
  <%= button_to 'Delete', band_url, method: "delete" %>
</div>
