<% action_url = (method ) %>

<form class="form" action="<%= users_url %>" method="post">

  <input type="text" name="user[email]" placeholder="email"><br>
  <input type="password" name="user[password]" placeholder="password"><br>

</form>
